<h2 class="mt-3">User info</h2>
<%= form_with model: @user do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>Image</p>
  <p>Introduction</p>
  <%=f.text_area :introduction %><br>
  <%=link_to 'Update User',user_path(current_user.id),class: "btn btn-secondary"%>
<% end %>